*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
    border: none;
    text-decoration: none;
}

.form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    padding-bottom: 60px;
    background: url('../images/Laptop.jpg');
    background-size: cover;
    background-repeat:no-repeat;
}

.form-container form{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background: white;
    text-align: center;
    width: 500px;
    border-radius: 50px;
}

.form-container form h2{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color:black
}

.form-container form input{
    width:100%;
    padding: 10px 15px;
    font-size: 20px;
    margin: 8px 0;
    background: #eee;
    border-radius: 50px;
}

.form-container form .form-btn{
    background: rgb(168, 201, 255);
    color: black;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50px;
}


.form-container form .form-btn:hover{
    background: rgb(142, 180, 247);
    color:black;
}

.form-container form p{
    margin-top: 10px;
    font-size: 20px;
    color: crimson;
}



.form-container form p a{
    color: crimson;
}

.form-container form p a:hover{
    color: crimson;
    text-decoration: underline;
}

.text{
    margin-left: 5px;
    white-space:nowrap;
}